<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книги</title>
</head>
<body>
<header class="header">
    <nav>
        <div class="submit" style="max-width:max-content; margin-top:20px;">
        <a href="/">Главная страница</a>
        </div>
    </nav>
</header>
<div class="body">
    {% for el in book%}
    <div class="form" >
        <p class="tag_p ic1 p" >Название книги:</p>
      <div class="input-container  input">
          <p class="tag_p">{{el.name}}</p>
      </div>
        <p class="tag_p ic2" >Количество страниц:</p>
      <div class="input-container input">
          <p class="tag_p">{{el.count_page}}</p>
      </div>
        <p class="tag_p ic2" >Дата публикации:</p>
        <div class="input-container input">
            <p class="tag_p" >{{el.date}}</p>
      </div>
        <p class="tag_p ic2" >Автор:</p>
        <div class="input-container input">
            <p class="tag_p">{{el.author}}</p>
      </div>
        <p class="tag_p ic2" >Жанр:</p>
        <div class="input-container input">
            <p class="tag_p">{{el.genre}}</p>
      </div>
        <div class="submit">
      <a style="width:100%;" href="update/{{el.id}}">Изменить</a>
            </div>
    </div>
    {% endfor %}
</div>

</body>
<style >
body{margin:0;
background-color:#090a12;
}
  .body {
  align-items: center;
  background-color: #090a12;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  margin: 0;

}
.p{font-size:24px;}
.header{margin: 20px 0px 20px 0px;}
.header a{margin-left:30px;
          margin-right:30px;}
nav {display:flex;
    justify-content: center;}
.tag_p{margin:0;
margin-top:9px;
color:white;
font-family: sans-serif;
margin-bottom:5px;}
.href{margin:0 auto;
      margin-top:30px;
      display:flex;
      justify-content: center;
      }
.href a{color:white;
font-family: sans-serif;
text-decoration:none;}
.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 420px;
  margin-left:30px;
  margin-top:20px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 30px;
}

.ic2 {
  margin-top: 20px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
  display:flex;
justify-content: center;
color:white;
font-family: sans-serif;
}
.submit a{padding-top:14px;
color:white;
font-family: sans-serif;
text-decoration:none;}
.submit:active {
  background-color: #06b;
}
</style>
</html>