<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Книга</title>
</head>
<body>
<div class="body">
    <form class="form" METHOD="post">
        {% csrf_token %}
      <div class="title">Книга</div>
        <p class="tag_p ic1" >Название книги:</p>
      <div class="input-container">
        <input class="input" type="text" name="name" value="{{book.name}}" />
      </div>
        <p class="tag_p ic2" >Количество страниц:</p>
      <div class="input-container">
        <input class="input" type="text" name="type" value="{{book.count_page}}" />
      </div>
        <p class="tag_p ic2" >Дата публикации:</p>
        <div class="input-container ">
        <input class="input" type="date" name="date" value="{{book.date}}" />
      </div>
        <p class="tag_p ic2" >Автор:</p>
        <select name="author" class="input-container">
           <option disabled>
                    Выберите автора
                </option>
                {% for el in all_author %}
                <option value="{{el.id}}">
                    {{el.name}}
                </option>
                {% endfor %}
        </select>
        <p class="tag_p ic2" >Жанр:</p>
        <select name="genre" class="input-container">
           <option disabled>
                    Выберите жанр
                </option>
                {% for el in all_genre %}
                <option value="{{el.id}}">
                    {{el.name}}
                </option>
                {% endfor %}
        </select>
      <button type="submit" class="submit">Изменить</button>
    </form>
</div>
    <div class="form href"><a href="/">Главная страница</a></div>
</body>
<style >
body{margin:0;
 background-color:#090a12;
}
  .body {
  align-items: center;
  background-color:#090a12;
  display: flex;
  justify-content: center;
  margin-top:5%;
}
select {height: 50px;
  position: relative;
  width: 100%;
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;}
.href{margin:0 auto;
      margin-top:30px;
      display:flex;
      justify-content: center;
      margin-bottom:20px;
      }
.href a{color:white;
font-family: sans-serif;
text-decoration:none;}
.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 420px;
}
.tag_p{margin:0;
margin-top:9px;
color:white;
font-family: sans-serif;
margin-bottom:5px;}
.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  // outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
</style>
</html>
